#video-section{
    background-color:cornflowerblue;
}
#carouselExampleIndicators{
    margin:0 auto;
    width:700px;
    height:500px;
}
.carousel-inner{
    width:100%;
    height:500px;
}
.carousel-img{
    width:100%;
    height:500px;
}
a.project-link:link, a.project-link:hover, a.project-link:visited, a.project-link:active{
    text-decoration:none !important;
    color:white;
}